{extends "layout.latte"}

{block headline}
	#405
{/block}

{block content}
	<p>Bohužel, požadovaná stránka neumí požadovanou metodu. Pardon!</p>
	<p>Možné metody: </p>
	{foreach $allowedMethods as $m}
		{var_dump($m)}
	{/foreach}
{/block}