{extends "layout.latte"}

{define headline}
	Vytvořit novou událost
{/define}

{define content}
	<form>
		<button>Přidej novou kategorii</button><br/>
		<input type="submit" value="Vytvořit nový event">
	</form>
{/define}