{extends "layout.latte"}

{define headline}
	{$eventName}
{/define}

{define content}
	<p>{$eventDescription}</p>
	{foreach $categories as $category}
		<p>
		<b>{$category['categoryName']}</b>
		{$category['categoryDescription']}
		{foreach $category['options'] as $option}
			{$option['optionName']} - {$option['optionInfo']}
		{/foreach}
		</p>
	{/foreach}
{/define}